body {
  background: lime;
}

ul li{
  list-style: none;
  text-align: right;

}

textarea {
  width: 400px;
  height: 170px;
  background: lightcyan;
  color: orange;
  font-size: 1.5em;
  font-family:"Amatic SC", sans-serif;
}

.remaining {
  color: deeppink;
  font-size: 1.5em;
  font-family:"oswald", sans-serif;
}
